

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 1em 0;
}

.content {
  position: relative;
  aspect-ratio: 1 / 1;
  z-index: 0;
  /* border-radius: 15px; */
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  z-index: 0;
  text-align: start;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 60%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.content:hover .content-details{
  top: 70%;
  left: 50%;
  opacity: 1;
}


.fadeIn-bottom{
  top: 80%;
}
